extends _templates/_template_default

block variables

	- var subDomain = ''
	- var pageUrl = '/fotografii-rabot'
	- var title = 'Портфолио клининговой компании «Стандарт»'
	- var metaDescr = 'Актуальные фотографии наших работ по уборке различных помещений, выставок, мойке фасадов и даже химчистке самолета! Оцените наши возможности.'
	- var ogImage = 'img/kliningovye-uslugi-oblozhka-preview-bage.png'
	- var h1 = 'Фотографии наших работ'
	- var h1Descr = ''
	- var bcCat = ''
	- var bcCatUrl = ''
	- var nestingLevel = '1'
	- var bc = 'Портфолио компании «Стандарт»'
	- var category = 'default'
	//- part of photos for every slider
	-
		var zhir = [
			'case/obezzhirivanie-kukhni-usluga.jpg',
			'case/obezzhirivanie-kukhni.jpg',
			'case/obezzhirivanie-kukhni-posle.jpg'
		]


block content
	section.hero
		h1= h1
		+breadcrumbs_naked
	section.section.section-portfolio
		.container.video
			video(width='100%' height='auto' controls poster='../../img/video-preview2.jpg')
				source(src='../video/video-otchet-uborka-kavartiry.mp4')
			.info-block
				h2 Уборка после ремонта двухкомнатной квартиры
				p Для этого заказа мы решили снять видео ролик с отчётом о работе, чтобы вы смогли увидеть как проходит уборка. По кнопке можете перейти на страницу отчёта — там больше фотографий и информации.
				a.btn-sm__green.hvr-bob(href='../fotografii-rabot/uborka-kvartiry-posle-remonta-foto-i-video-otchet') Подробнее
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-1.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-2.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-3.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-4.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-5.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-6.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-7.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-8.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-9.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-10.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-11.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-magazin-12.jpg' 
						alt=''
						)
			.info-block
				h2 Уборка после ремонта супермаркета
				p Требовалась оперативная уборка после ремонта нового магазина. Выполнили на 5+ уложились в срок с запасом
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='2', data-items-lg='2', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-army-1.jpeg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-army-2.jpeg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-army-3.jpeg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-army-4.jpeg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-army-5.jpeg' 
						alt=''
						)
			.info-block
				h2 Уборка стендов на выставке Армия
				p Поддержка чистоты и порядка на протяжении всей выставки. Подготовка стендов к началу мероприятия.
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-azs-1.jpeg'
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-azs-2.jpeg'
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-azs-3.jpeg'
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-azs-4.jpeg'
						alt=''
						)
			.info-block
				h2 Уборка АЗС после ремонта
				p Вычистили всю бетонную пыль, вымыли остекление до полной прозрачности без разводов.
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-osteklenie-azs-1.jpeg'
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-osteklenie-azs-2.jpeg'
						alt=''
						)
			.info-block
				h2 Мойка остекления на автозаправочной станции.
				p Чистые окна и витрины – обязательное условие привлекательного вида коммерческого здания и проявление уважения к клиентам.
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='2', data-items-lg='2', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-2.jpeg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-3.jpeg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-4.jpeg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-5.jpeg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-6.jpeg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-7.jpeg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-samolet-1.jpeg' 
					alt=''
					)
			.info-block
				h2 Химчистка салона самолета
				p Довольно сложная задача. Нужно работать быстро, узкие проходы и нельзя передвинуть кресло. Приходится проявлять находчивость и ловкость. =)
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='2', data-items-lg='2', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-promalp-1.jpg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-promalp-2.jpg' 
					alt=''
					)
				.slide-item
					img.lazyload(
					src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
					data-src='../img/case/case-promalp-3.jpg' 
					alt=''
					)
			.info-block
				h2 Услуги промышленного альпинизма
				p Ремонт швов и установка утепления
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-4lapy-1.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-4lapy-2.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-4lapy-3.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-4lapy-4.jpg' 
						alt=''
						)
			.info-block
				h2 Мойка фасадов сети зоомагазинов магазинов "Четыре Лапы"
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-pomescheniy-posle-remonta-1.jpeg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-pomescheniy-posle-remonta-2.jpeg' 
						alt=''
						)
			.info-block
				h2 Уборка помещений после ремонта
				p Уборка после ремонта часто является сложной задачей. Однако мы можем вас заверить, что вы не найдете следов строительной пыли и мусора, если доверите уборку нам.
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-obezzhirivanie-3.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-obezzhirivanie-2.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-obezzhirivanie-1.jpg' 
						alt=''
						)
			.info-block
				h2 Что такое обезжиривание кухни и почему это лучше доверить нам
				p Генеральная уборка квартиры после квартирантов. Самая сложная часть – конечно кухня и плита в особенности.
				p Но мы знаем как быстро вычистить весь жир и копоть, и вернуть чистоту на кухне.
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item(style='height: 600px')
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-komnata-remont-1.jpeg' 
						alt=''
						)
				.slide-item(style='height: 600px')
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case-komnata-remont-2.jpeg' 
						alt=''
						)
			.info-block
				h2 Уборка после строительства
				p Устранение сложных загрязнений. Потребовался выезд технолога. Использовали профессиональную технику и чистящие составы.
				p Работу выполнили в короткие сроки, в рамках договора.
	section.section.section-portfolio
		.container
			.slider-portfolio(data-items-xl='2', data-items-lg='2', data-items-md='1', data-items-sm='1', data-play='1', data-speed='4500')
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case_kryschi1.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case_kryschi2.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case_kryschi3.jpg' 
						alt=''
						)
				.slide-item
					img.lazyload(
						src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAEALAAAAAAQAAkAAAIKjI+py+0Po5yUFQA7" 
						data-src='../img/case/case_kryschi4.jpg' 
						alt=''
						)
			.info-block
				h2 Очистка крыш от наледи и снега