mixin otzyvy
	if otzyvy
		section.section.otzyvy-slider
			.container
				.section-title
					h2 Отзывы наших клиентов
				.carousel.review-carousel(data-items-xl='1', data-items-lg='1', data-items-md='1', data-items-sm='1', data-play='1', data-speed='3500')
					each index, val in otzyvy
						.slide-item
							img.photo.lazyload(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" data-src="" +index['img'] alt="")
							.info-block
								.descr
									p= index['descr']
								.name
									p= index['name']
	else

mixin otzyvy_page(part)
	if otzyvy
		each index in part
			.review
				p= index['descr']
				.photo
					img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" data-src="../" +index['img'] alt="")
					span= index['name']
	else

mixin otzyvy_page__komm(part)
	if otzyvy
		each index in part
			.review__komm
				img.lazyload(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==" data-src="../" +index['img'] alt="")
				p= index['descr']
				span= index['name']
	else
